<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Movies</th>
        <th>Action</th>
    </tr>
    <tr th:each="director : ${alldirector}">
        <td th:text="*{director.id}"></td>
        <td th:text="*{director.name}"></td>
        <td th:text="*{director.genre}"></td>
        <td th:text="*{director.movies}"></td>
        <td><a th:href="@{/directorlist/{id}(id=${director.id})}">view details</a>"</td>
        <!--<td th:text="*{director.movies}"></td>-->

    </tr>
</table>
</body>
</html>