<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Director</th>
            <th>Released Year</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <tr th:each="movie : ${allmovies}">
            <td th:text="*{movie.id}"></td>
            <td th:text="*{movie.title}"></td>
            <td th:text="*{movie.director}"></td>
            <td th:text="*{movie.year}"></td>
            <td th:text="*{movie.description}"></td>
            <td><a th:href="@{/movielist/{id}(id=${movie.id})}">view details</a>"</td>
        </tr>
    </table>

</body>
</html>

</table>