<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h3> Please fill out the form below</h3>

<form action="#" th:action="@{/addmovie}" th:object="${movie}" method="post">

    <!--<p><input type="hidden" th:field="*{id}"/></p>-->

    <p>Enter the name of the movie: <input  th:type="text" th:field="*{title}" /></p>

    <p>Enter the year<input type="number" th:field="*{year}" /></p>

    <p>Enter the description: <input  th:type="text" th:field="*{description}" /></p>

    <p><input type="submit" value="Add" /> <input type="reset" value="Reset" /></p>

</form>
<a th:href="@{/showMovies/{id}(id=${movie.id})}">Show Movies</a>
<!--<button type="submit" value="Submit">Submit</button>-->
<!--<button type="reset" calue="Clear Form">Clear</button>-->

</body>
</html>