<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Director</th>
            <th>Release Year</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <tr th:each="movie : ${listMovies}">
            <td th:text="*{movie.id}"></td>
            <td th:text="*{movie.title}"></td>
            <td th:text="*{movie.director}">director goes here</td>
            <td th:text="*{movie.year}"></td>
            <td th:text="*{movie.description}"></td>
            <td>actions go here</td>
        </tr>
    </table>

</body>
</html>